# Jeffrey Honig

## Organizations

<a href="https://github.com/jchonig/jchonig/actions"><img src="https://github.com/jchonig/jchonig/workflows/Build%20README/badge.svg" align="right" alt="Build README"></a>

<smalll>Created at {{ created.at }} from {{ created.template }}</small>
