# ![Jeffrey Honig](//0.gravatar.com/avatar/b25e2ae1f07ec30647f346df81d2d841?s=120)

## About me

* [Home page](https://jch.honig.net/)
* [Facebook](https://www.facebook.com/jchonig)
* [GitHub](https://github.com/jchonig)
* [LinkedIn](https://www.linkedin.com/in/jchonig/)

{% if orgs -%}
| Name | Description |
|---|---|
## My Organizations
  {% for org in orgs.values() -%}
| [{{ org.name }}]({{ org.url }}) | {{ org.description }} |
  {% endfor -%}
{% endif -%}

{% if repos -%}
## My Repositories
### Owned
| Name | Description |
|---|---|
  {% for repo in repos.values() if not repo.isFork -%}
| [{{ repo.name }}]({{ repo.url }}) | {{ repo.description }} |
  {% endfor -%}
### Forked
| Name | Description | Parent |
|---|---|---|
  {% for repo in repos.values() if repo.isFork -%}
| [{{ repo.name }}]({{ repo.url }}) | {{ repo.description }} | [{{repo.parent.nameWithOwner }}]({{ repo.parent.url }}) |
  {% endfor -%}
{% endif -%}

---

Created via jinja2 at {{ created.at }} from {{ created.template }}

<a href="https://github.com/jchonig/jchonig/actions"><img src="https://github.com/jchonig/jchonig/workflows/Build%20README/badge.svg" align="right" alt="Build README"></a>
